html,
body {
  height: 100%;
  background: black;
  color: white;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  --segment-font-size: 30vmin;
  --segment-ghost-offset: calc(var(--segment-font-size) * 0.545);
}

.clock-container {
}

.segment {
  font-family: "Segment7Standard";
  font-weight: normal;
  font-style: italic;
}

.clock {
  font-size: var(--segment-font-size);
  position: relative;
  top: calc(-1 * var(--segment-ghost-offset));
}

.ghost {
  top: var(--segment-ghost-offset);
  opacity: 0.25;
}

.clock > .separator {
  font-family: monospace;
  font-style: normal;
  --segment-separator-font-size: calc(var(--segment-font-size) / 3);
  font-size: var(--segment-separator-font-size);
}

.clock > .separator:after,
.clock > .separator:before {
  content: "•";
  position: relative;
}

.clock > .separator:before {
  top: calc(-1 * var(--segment-separator-font-size) * 1.3);
  left: 3vmin;
}

.clock > .separator:after {
  top: calc(-1 * var(--segment-separator-font-size) * 0.3);
  right: 3vmin;
}

.clock > .separator {
  animation: 3s ease-in infinite reverse blink;
}
.clock.done > .separator {
  animation: none;
}

.clock.done {
  animation: 2s ease-in infinite reverse blink;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
